.exempel{
    background-color: yellow;
    border: 10px solid blue;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}

a:link{
    text-decoration: none;
}
a:visited{
    color: purple;
}
a:hover{
    background-color: coral;
}
a:active{
    border-width: 5px;
}
